* {
    margin: 0%;
    padding: 0%;

}

hr {
    background-color: rgb(255, 255, 255);
    border: solid rgb(255, 255, 255) 0.1px;
    width: 650px;
    margin: auto;
}

html {
    color: white;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(assets/vecteezy_background-gold_ts1220.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: rgb(111, 209, 13);
}

p {
    padding: 20px; 
    font-size: 15px;
}

#nome {
    margin: auto;
    width: 440px;
    padding: 20px;

}

#container {
    border-radius: 6px;
    margin: auto;
    width: 700px;
    background-color: rgb(62, 65, 65);
    margin: 20px;
}

#mf {
    width: 300px;
    border: 3px solid rgb(111, 209, 13);
    border-radius: 100%;
    margin-top: 6%;
}



#apresent {
    display: inline-block;
    padding: 25px;
}

#desc {
    display: inline;
    width: 300px;
    float: right;
}

#liImpar {
    color: rgb(111, 209, 13);
}

li {
    margin-left: 20px;
}